*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

header{
	padding:0 1rem;
	min-width:950px;
	line-height:60px;
}

header a{
	color:black;
}

section{
	padding:2.5rem 0;
}

footer{
	background-color:blue;
	height:300px;
}

header a,{
	color:black;
}

a,
a:focus,
a:hover,
a:active{
	text-decoration: none;
}


.larger-wrapper{
	width:92%;
	margin:0 auto;
}

.wrapper{
	width:70%;
	min-width:1050px;
	margin:0 auto;
}

.clearfix::after{
	content:"";
	clear:both;
	display:table;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}


.section-title{
	padding:2rem 0;
	font-size:2.2rem;
}

.title{
	font-size:1.5rem;
	padding:1rem 0;
}

/* buttons style */

.btn{
	padding:5px 1rem;
	font-size: 0.7rem;
}

.white-btn{
	color:black;
	border:1px solid black;
}

.blue-btn{
	color:white;
	background-color:rgb(0, 97, 255);
}

.lightblue-bg{
	background-color: rgb(180, 208, 231);
}

.border-bottom{
	border-bottom:1px solid rgb(208, 208, 211);
}

i.far, i.fas{
	padding-right:.5rem;
}


header div.clearfix #main-logo{
	width:7%;
}

header div.clearfix #main-logo img{
	width:100%;
	vertical-align:middle;
}

header div.clearfix #nav-left,
header div.clearfix #nav-right{
	padding:0 1rem;
}

header #nav-left ul li, header #nav-right ul li{
	display:inline;
	font-size: 0.8rem;
	margin: 0 1rem;
}

/* section jumbotron */

section#jumbotron{
	padding:2rem;
	margin-bottom:5rem;
	min-width:1100px;
}

section#jumbotron h1{
	font-size:3.6rem;
	padding-bottom:2rem;
}

section#jumbotron p{
	font-size:0.8rem;
	padding-bottom:1rem;
}

section#jumbotron p.small-text{
	padding:1rem 0 2rem;
	font-size: 0.6rem;
}

section#jumbotron .fas{
	font-size: 2rem;
}

section#jumbotron div.clearfix .col.float-left{
	width:30%;
}

section#jumbotron div.clearfix .col.float-right{
	width:70%;
	padding-left: 3rem;
}

section#jumbotron div.clearfix .col img{
	width:100%;
}

/* section plan */


section#plan .input-group{
	padding:2rem 0;
}

section#plan .input-group label{
	margin-right:1rem;
}

section#plan .clearfix{
	width:100%;
}

section#plan .clearfix .card{
	font-size:0.7rem;
	min-width: 210px;
	width:calc( (100% / 3) - 20px);
	border: 1px solid rgb(208, 208, 211);
}

section#plan .clearfix .card.full-width{
	width:100%;
	margin-top:2rem;
}

section#plan .clearfix .card:nth-child(2){
	margin:0 30px;
}

section#plan .card h5{
	text-align:center;
	padding:0.5rem 0;
	font-size: 0.8rem;
	font-weight: lighter;
}


section#plan .card .card-content{
	padding:1.5rem 1rem;
}

section#plan .card span{
	display:inline-block;
}

section#plan .card span.price{
	font-weight: bold;
	font-size:0.8rem;
	padding:.5rem 0;
}

section#plan .card span.conditions{
	font-size:0.6rem;
	color:rgb(169, 178, 186);
}

section#plan .card div.buy-now{
	padding:1rem 0;
}

section#plan .card div.buy-now a{
	text-decoration:underline;
}

section#plan .card span.border-bottom{
	padding-bottom:1rem;
}

section#plan .card ul{
	padding:1rem 0 2rem;
	list-style: none;
	
}

section#plan .card ul li{
	margin-top:1rem;
}

section#plan .card ul.features-list li:before{
	content: "\f00c";
	font-weight: 900;
	color:rgb(0, 97, 255);
	padding-right:.2rem;
	font-family: "Font Awesome 5 Free";
}

section#plan .card ul.features-list{
	padding-bottom:4rem;
}

section#plan .card.full-width div.contact{
	padding:3.2rem 2rem 0 0;
}

/* section support */

section#support div.support-img{
	width:60%;
	padding:1rem;
}

section#support div.support-img img{
	width:100%;
}

section#support div.support-content{
	padding:2rem;
	width:40%;
}

section#support div.support-content div.partner-finder{
	padding:1rem 0;
}


/* section functions */

section#functions div.clearfix>div.card{
	width:calc(100% / 3);
	padding:1rem;
}

section#functions div.clearfix>div.card figure{
}

section#functions div.clearfix>div.card img{
	width:100%;
}

section#functions div.clearfix>div.card .card-content{
	padding:1rem;
}

