*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

header{
	padding:0 1rem;
	min-width:950px;
	line-height:60px;
}

header a{
	color:black;
}

a,
a:focus,
a:hover,
a:active{
	text-decoration: none;
}

header a,{
	color:black;
}

.clearfix::after{
	content:"";
	clear:both;
	display:table;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}

.btn{
	padding:5px 1rem;
	font-size: 0.7rem;
}

.blue-btn{
	color:white;
	background-color:rgb(0, 97, 255);
}

.lightblue-bg{
	background-color: rgb(180, 208, 231);
}

.wrapper{
	width:70%;
	margin:0 auto;
}

.section-title{
	font-size:2.2rem;
}


.jumbo-content{
	width:80%;
	margin:0 auto;
}

.jumbo-content h1{
	font-size:3.6rem;
	padding-bottom:2rem;
}

.jumbo-content p{
	font-size:0.8rem;
	padding-bottom:1rem;
}

.jumbo-content p.small-text{
	padding:1rem 0 2rem;
	font-size: 0.6rem;
}

.jumbo-content .fas{
	font-size: 2rem;
}

#nav-left,
#nav-right{
	padding:0 1rem;
}

section{
	padding: 10rem 0;
}

section.jumbotron{
	padding:2rem 2rem 0;
	min-width:1100px;
}

section.jumbotron div.raw .col.float-left{
	width:30%;
}

section.jumbotron div.raw .col.float-right{
	width:70%;
	padding-left: 3rem;
}

section.jumbotron div.raw .col img{
	width:100%;
	margin-bottom:-10%;
}

header div.raw #main-logo{
	width:7%;
}

header div.raw #main-logo img{
	width:100%;
	vertical-align:middle;
}

div#nav-left ul li, div#nav-right ul li{
	display:inline;
	font-size: 0.8rem;
	margin: 0 1rem;
}

main section#plan .input-group{
	padding:2rem 0;
}

main section#plan .input-group label{
	margin-right:1rem;
}

main section#plan .raw{
	width:100%;
	height:100vh;
}

main section#plan .raw .card{
	font-size:0.7rem;
	height:500px;
	width:calc((100% / 3) - 6rem);
	border: 1px solid rgb(208, 208, 211);
}

main section#plan .raw .card:nth-child(2){
	margin:0 3rem;
}

main section#plan .card h5{
	text-align:center;
	padding:0.5rem 0;
	font-weight: lighter;
	border-bottom: 1px solid rgb(208, 208, 211);
}

main section#plan .card .title{
	font-size:1rem;
}

main section#plan .card div.price{
	font-weight: bold;
	padding:.5rem 0;
}

main section#plan .card div.conditions{
	font-size:0.6rem;
	color:rgb(169, 178, 186);
}

main section#plan .card .card-content{
	padding:1.5rem 1rem;
}

main section#plan .card ul{
	padding:1rem 0;
	list-style: none;
}

main section#plan .card ul li{
	margin-top:1rem;
}
